body {
    background-color: black;
    color: rgb(226, 224, 224);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 5% 10% 5% 10%;
}

h1 {
    font-size: 60px;
}

h3 {
    font-size: 20px;
}

input {
    border: none;
    border-bottom: 1px solid white;
    background-color: black;
    text-align: left;
    width: 300px;
    margin: 7px;
    margin-top: 20px;
    font-size: 20px;
    padding: 1%;
    color: rgb(226, 224, 224);
}

input, select, textarea {
    color: rgb(226, 224, 224);
}

button {
    margin-top: 30px;
    border: solid 1px rgb(226, 224, 224);
    background-color: rgb(226, 224, 224);
    opacity: 90%;
    color: black;
    font-size: 20px;
    padding: 1.5%;
    width: 250px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    opacity: 100%;
}

button:active {
    background-color: black;
    border: solid 1px rgb(226, 224, 224);
    color: rgb(226, 224, 224);
}

#displayer {
    display: inline-block;
    text-align: center;
}

#myBooks {
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#bookList {
    text-align: left;
}